.pink{
    background: #c74f69;
    color: white;
}

.black{
    background: #010101;
    color: white;
}
.red{
    background: #a00100;
    color: white;
}
.purple{
    background: #b531b4;
    color: white;
}
.orange{
    background: #f79741;
    color: white;
}
.green{
    background: #21a421;
    color: white;
}
.blue{
    background: #373e9c;
    color: white;
}
.lime{
    background: #86b731;
    color: white;
}
.teal{
    background: #17999e !important;
    color: white;
}
.yellow{
    background: #eed908;
    color: white;
}
.cyan{
    background: #14707a;
    color: white;
}
.light-blue{
    background: #4983c5;
    color: white;
}
.indigo{
    background: #532d80;
    color: white;
}
.grey{
    background: #333;
    color: white;
}
#menu {
    position: fixed;
    top: 0px;
    left: 0px;
    background: black;
    text-align: left;
}
#menu li{
    display: block;
}

#menu li .btn{
    width: 120px;
    height: 40px;
    padding: 10px;
    border-radius: 0;
    margin: 0;
}

#content{
    margin-top: 50px;
}
.entry {
    font-size: 22px;
    position: relative;
    min-width: 100px;
    height: 90px;
}
.active-time, .active-day{
    background: rgba(244,0,0,1);
    color: white;
    font-weight: bold;
}
.active-tile{
    border: 4px solid rgba(244,0,0,0.4)!important;

}
.time{
    text-align: center;
    font-size: 22px;
    vertical-align: middle !important;
    height: 100%;
    display: table-cell;
    border: 1px solid yellow;
}
.weekday{
    text-align: center;
    font-size: 22px;
}
.entry .fa{
    font-size: 22px;
}
.table .atd {
    border: 1px solid rgba(255, 255, 255, 0.9);

}
.entry .icon{
    display: block;
    font-size:35px;
    padding: 4px;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 24px;

}
.navbar-toggle{
    background: black !important;
    color: white;
}
.entry .caption{
    margin: 5px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50px;
    display: none;
}

.entry .arrow-left{
    position: absolute;
    left: -5px;
    top: 35px;
    display: block;
    color: white;
    z-index: 1000;
}
.entry .arrow-right{
    position: absolute;
    right: -5px;
    top: 35px;
    display: block;
    color: white;
    z-index: 1000;
}
.entry .arrow-up{
    width: 100%;
    text-align: center;
    display: block;
    color: white;
    position: absolute;
    top: -4px;
    z-index: 1000;
}
.entry .arrow-down{
    width: 100%;
    text-align: center;
    display: block;
    color: white;
    position: absolute;
    bottom: -4px;
    z-index: 1000;
}
.entry .remove-x{
    position: absolute;
    right: -3px;
    top: -2px;
    font-size: 18px;
    display: block;
    color: white;
}